[submodule "firmware/model/lib/googletest"]
	path = firmware/model/lib/googletest
	url = https://github.com/google/googletest.git
[submodule "firmware/sensorio/lib/etl"]
	path = firmware/sensorio/lib/etl
	url = https://github.com/ETLCPP/etl.git
[submodule "firmware/sensorio/lib/lvgl"]
	path = firmware/sensorio/lib/lvgl
	url = https://github.com/lvgl/lvgl.git
	
